<html>
    <head>
        <title>
            <%=title%>
        </title>
    </head>
    <body>
        <header>
            Page Header
        </header>
        <h1>
            Page<%=title%>
        </h1>
        <footer>
            Page Footer
        </footer>
    </body>
</html>